<h2>My Sushis</h2>

<div>
  <label>Sushi name:
    <input #sushiName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(sushiName.value); sushiName.value=''">
    add
  </button>
</div>

<ul class="sushis">
  <li *ngFor="let sushi of sushi">
    <a routerLink="/detail/{{sushi.id}}">
      <span class="badge">{{sushi.id}}</span> {{sushi.name}}
    </a>
    <button class="delete" title="delete sushi"
    (click)="delete(sushi)">x</button>
  </li>
</ul>